css
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: rgb(116, 84, 45);
}

    
          
           
            



       
    
    #testimonials {
        background-color: bisque;
        padding: 50px 20px;
        text-align: center;
    }
    .testimonial {
        background: #fff;
        margin: 20px auto;
        padding: 20px;
        max-width: 600px;
        border-radius: 10px;
        box-shadow: 0 5px rgba(red, green, blue, alpha);
    }
    .testimonial img {
        width: 80px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .stars {
        color: gold;
        font-size: 1.2em;
        margin: 5px 0;
    }
    .testimonial h4 {
        color: bisque;
        margin-top: 10px;
        font-weight: bold;
    }
    css
.view-btn {
  background-color: #a25c39;
  color: #fff;
  border: none;
  padding: 5px 12px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background-color: #854828;
}




.country-select .option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.country-select img {
  margin-right: 10px;
}
/* 
footer {
        background-color: black;
        color: white;
        padding: 20px;
}

header{
        background-color: black;
        color: white;
      } */
 
.order-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: white;
  color: #bc4f4f;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: 0.3s ease;
}

.order-btn:hover {
  background-color: #0a0909;
}

